	<div class="row waytomakespace">
		<div class="tabbable">
			<ul class="nav nav-tabs">
			  <li class="active span3"><a href="#1" data-toggle="tab" class="cashmoney">About Us</a></li>
			  <li class="span3"><a href="#2" data-toggle="tab" class="cashmoney">Recent Projects</a></li>
			  <li class="span3"><a href="#3" data-toggle="tab" class="cashmoney">Services</a></li>
			  <li class="span3"><a href="#4" data-toggle="tab" class="cashmoney">Contact Us</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="1">
					<div class="row">
						<div class="span4">
							<%= link_to(image_tag("thechairlift4.png", alt: "chairlift", id: "thechairlift", width: "179px", height: "151px"), "#", title: "going up to the top") %>
						</div><!-- /span4 -->
						<div class="span8">
						<h1>Welcome to the new site! Hope you like it!</h1>
						<h4 align="justify">Our team operates differently. We don't re-invent the wheel over here because we stay focused on agile solutions and go the extra mile to implement with new, bleeding edge technologies. We keep our source code under control, constantly backed up, so we move in new ways without fear.<br/><br/>United by our mutual passions for technology, we are a tightly knit team of developers, designers, systems administrators and software architects from across the United States, spanning New York City to Montana to California.</h4>
						</div><!-- /span8 -->
					</div><!-- /row -->
				</div><!-- /tab-pane -->
				<div class="tab-pane fade" id="2">
					<ul class="thumbnails">
						<li class="span3">
							<a href="#" class="thumbnail">
								<img src="assets/project1.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project6.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project11.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project14.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project18.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project22.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project26.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project30.jpg" alt="">
							</a><br/>
						</li>
						<li class="span3">
							<a href="#" class="thumbnail">
								<img src="assets/project2.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project7.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project12.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project15.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project19.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/260x180-project23.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project27.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project31.jpg" alt="">
							</a><br/>
						</li>
						<li class="span3">
							<a href="#" class="thumbnail">
								<img src="assets/project3.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project8.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project13.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project16.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project20.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/260x180-project24.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project28.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project32.jpg" alt="">
							</a><br/>
						</li>
						<li class="span3">
							<a href="#" class="thumbnail">
								<img src="assets/project4.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project10.png" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/project14.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project17.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project21.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/260x180-project25.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-project29.jpg" alt="">
							</a><br/>
							<a href="#" class="thumbnail">
								<img src="assets/360x268-33.jpg" alt="">
							</a><br/>
						</li>
					</ul>
				</div><!-- /tab-pane -->
				<div class="tab-pane fade" id="3">
					<div class="row">
						<div class="span3">
							<h3>We love building:</h3>
							<p>
							Custom Websites<br/>
							Beautiful Web Apps<br/>
							Enterprise CMS<br/>
							Custom e-commerce<br/>
							Business Identity &amp; Logo<br/>
							Database Architecture<br/>
							Cloud Solutions
							</p>
						</div><!-- /span -->
						<div class="span3">
							<h3>We implement using:</h3>
							<p><code>
							jQuery/JavaScript &amp; LESS/CSS<br/>
							Ruby on Rails<br/>
							PHP, MySQL &amp PostgreSQL<br/>
							HTML5, HAML &amp; SASS<br/>
							LAMP, Nginx &amp; Unicorn<br/>
							Database Architecture<br/>
							Amazon S3<br/>
							Git</code><br/>
							</p>
						</div><!-- /span -->
						<div class="span6">
						Ride up to the top with us where we embrace the cutting edge. Great design is our purpose in executing rapid development met with exceptional delivery. 
						<br/><br/>
						As a web design agency, Chairlift Development crafts powerful and timeless user experiences that impact customers and help build a sense of loyalty toward brands. Enhanced interaction increases the value of relationships and extends meaningful reach across target markets. We collaborate with our clients to leverage technology in the development and refinement of modern communication strategies.
						<br/><br/>
						Our results consistently yield uniquely valuable positions and opportunities. We hope to assist you in implementing your next project!
						</div><!-- /span -->
					</div><!-- /row -->
				</div><!-- /tab-pane -->
				<div class="tab-pane fade" id="4">
					<a href="mailto:liftoperator@chairliftdevelopment.com">liftoperator@chairliftdevelopment.com</a>&nbsp;&nbsp;&nbsp;<a href="mailto:spencer@chairliftdevelopment.com">spencer@chairliftdevelopment.com</a>&nbsp;&nbsp;&nbsp;<a href="mailto:bent@chairliftdevelopment.com">bent@chairliftdevelopment.com</a>
					<br/><br/>Also please note that more information, including some nice looking contact forms are planned for this area. 
					<br/><br/>As time permits, we're building an intake questionnaire for new projects at <a href="http://chairliftdevelopment.com/q">chairliftdevelopment.com/q</a>
					<br/><br/>
					<strong>Produced in association with:</strong><br/><a href="http://cloudkickr.com" target="_blank"><img src="assets/newcloudkickrbranding.png" height="75" width="302" alt=""></a>

				</div>
			</div><!-- /tab-content -->
		</div> <!-- /tabbable -->
	</div><!-- /row -->