<div class="row"><%= link_to "News", posts_path %>
<form class="form-horizontal">
  <fieldset>
    <legend>About the business</legend>
    
    
    <div class="control-group">
      <label class="control-label" for="input01"><strong>Do you have a site?</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Will we be rebuilding or redesigning it? Or will we be starting from scratch?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>Why are we renewing or creating the site?</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Are there some definable goals for the site?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>

		<div class="control-group">
      <label class="control-label" for="input01"><strong>Could you describe your business?</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="General overview of the business in a couple of sentences"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>Competitors?</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Do you have competitors? How do your businesses compare? What differentiates your business from theirs?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>Customers?</label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="How old are they? Are they male or female? Are they tech savvy? (etc.)"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		
		<div class="control-group">
			<label class="control-label" for="input01"><strong>Your brand?</strong></label>
			<div class="controls">
				 <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Do you have logos? A brand typeface etc? Would we be creating it for you?"></textarea>
			</div>
    </div><br/><br/><br/><br/><br/>

		<div class="control-group">
			<label class="control-label" for="input01"><strong>What's your budget for this project?</strong></label>
			<div class="controls">
				 <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="$1,000-$3,000; $3000-$6000; $6000-$12,000; etc."></textarea>
			</div>
    </div><br/><br/><br/><br/><br/>

		<div class="control-group">
			<label class="control-label" for="input01"><strong>Project Objectives:</strong></label>
			<div class="controls">
				 <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="If we were to define some goals for the site in 6 months, 12 months and 18 months; what would they be?"></textarea>
			</div>
    </div>
<hr class="soften">
    <legend>About Project Logistics</legend>
    
    <div class="control-group">
      <label class="control-label" for="input01"><strong>Project time frame:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="What kind of time frame do you have in mind for this project?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>Staff?</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Do you have a staff member who'll be responsible for operating the site day-to-day? What level of training will they need, if any?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>

		<div class="control-group">
      <label class="control-label" for="input01"><strong>Day to day:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="How much time will be dedicated to your site? Like responding to enquiries, for instance. Once a day? Several hours a day?"></textarea>
      </div>
		</div>
<hr class="soften">
    <legend>Design, Features and 'Feel'</legend>
    
    <div class="control-group">
      <label class="control-label" for="input01"><strong>Some design examples:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Could you list some websites you like? Why do you like them?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>What to avoid?</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="What do you not want from your site? Colors? Design features? (etc.)"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>

		<div class="control-group">
      <label class="control-label" for="input01"><strong>How is content generated?</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="How dynamic will that content be? How often will it be updated? Will you provide the initial copy?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>

		<div class="control-group">
      <label class="control-label" for="input01"><strong>Business language:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Does your business have any existing brand or design language you want us to integrate?"></textarea>
      </div>
		</div>
<hr class="soften">	

    <legend>E-commerce and selling online</legend>
    
    <div class="control-group">
      <label class="control-label" for="input01"><strong>Products:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="What products are you planning on selling? How many of them will there be?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>Functionality:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="What information or features do you think are most important to communicate to the customer?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>

		<div class="control-group">
      <label class="control-label" for="input01"><strong>Product display:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Do you have existing imagery and/or copy? Would you want us to produce them?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>Payment processing:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="How do you plan to take payments? Have you been recommended a payment processor by your bank? Do you have an existing relationship you'd like to continue?"></textarea>
      </div>
		</div>
<hr class="soften">


    <legend>Search and Marketing</legend>
    
    <div class="control-group">
      <label class="control-label" for="input01"><strong>Online Marketing:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="How do you plan on marketing your business online? Do you have an existing strategy? Would you like us to help you with it?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>
		
		<div class="control-group">
      <label class="control-label" for="input01"><strong>Social Media:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="Do you use social media to market your business? If not, would you consider it?"></textarea>
      </div>
		</div><br/><br/><br/><br/><br/>

		<div class="control-group">
      <label class="control-label" for="input01"><strong>SEO (Search Engine Optimization:</strong></label>
      <div class="controls">
        <textarea class="input-xlarge span9" id="textarea" rows="2" placeholder="If you were to use a search engine to find your new site or its products? What search terms would you use?"></textarea>
      </div>
		</div>
		
		
		
		
		
		
				
  </fieldset>
</form>






</div>