<div class="row waytomakespace">
	<h1>Portfolio Items</h1>
	<ul>
	<% @port.each do |portfol| %>
		<li><%= link_to portfol, portfolio_path(portfol) %></li>
	<% end %>
	</ul>
	

	<ul class="thumbnails">
		<li class="span3">
			<a href="#" class="thumbnail">
				<img src="assets/project1.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project6.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project11.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project14.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project18.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project22.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project26.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project30.jpg" alt="">
			</a><br/>
		</li>
		<li class="span3">
			<a href="#" class="thumbnail">
				<img src="assets/project2.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project7.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project12.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project15.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project19.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/260x180-project23.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project27.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project31.jpg" alt="">
			</a><br/>
		</li>
		<li class="span3">
			<a href="#" class="thumbnail">
				<img src="assets/project3.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project8.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project13.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project16.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project20.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/260x180-project24.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project28.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project32.jpg" alt="">
			</a><br/>
		</li>
		<li class="span3">
			<a href="#" class="thumbnail">
				<img src="assets/project4.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project10.png" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/project14.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project17.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project21.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/260x180-project25.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-project29.jpg" alt="">
			</a><br/>
			<a href="#" class="thumbnail">
				<img src="assets/360x268-33.jpg" alt="">
			</a><br/>
		</li>
	</ul>
 </div>