<header class="jumbotron masthead">
	<div class="inner">
	  <h1 id="bigheader">CHAIRLIFT&nbsp;DEVELOPMENT</h1>
	  <h4>Why climb a mountain of technology? We offer liftpasses.</h4>
	</div>  <!-- end inner-->	
</header>